:root{
    --darkmode : #0d1b2aef;
    --lightmode : #f0f0f0;
    --fontsize: 1.5rem;
    --crimson : crimson;
    --red: #f71212;
}

*,html{
    box-sizing: border-box;
    overflow: none;
    user-select: none;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    color: var(--darkmode);
    font-size: var(--fontsize);
    overflow: hidden;
    overflow-y: scroll;
    background-color: var(--lightmode);
    transition:  0.5s ease;
    scroll-behavior: smooth;
    justify-content: center;
}


body::-webkit-scrollbar-thumb{
    background-color: red;
}

/*the below are the added classlist*/
.darkmode{
    background-color: var(--darkmode);
    color: var(--lightmode);
    transition: 0.5s ease;
}

.lighttext{
    color: white;
}

.top{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 20;
    cursor: pointer;
    display: flex;
    align-items: center;
}

h2{
    font-size: 10rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15dvh;
    width: 100dvw;
    padding: 2rem;
    border-bottom: 0.5px solid var(--crimson);
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(50px);
    user-select: none;
    z-index: 10;
}

.logo{
    padding: 5rem;
}

.logoname{
    cursor: pointer;
    transition: color 0.5s ease;
}

h2{
    font-size: 4rem;
}

.logoname:hover{
    color: var(--red);
}

nav{
    display: flex;
    align-items: center;
    width: 40dvw;
    height: 10dvh;
    justify-content: space-around;
    font-family: "Young Serif", serif;
    font-size: 1rem;
}

.nav-small{
    display: none;
}

.link{
    color: var(--darkmode);
    text-decoration-line: none;
    transition: 0.5s ease;
}

.link:hover{
    color: var(--red);
}

.link:target{
    color: var(--red);
}

.dividernav{
    align-self: center;
    height: 1.5rem;
    background-color: var(--crimson);
    width: 1px;
}

.togglemode{
    width: 5vw;
    border: 2px solid var(--red);
    border-radius: 50px;
    height: 1.5rem;
    padding: 0;
    margin-right: 1.5rem;
    background-color: var(--lightmode);
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.togglemodedark{
    background-color: var(--darkmode);
}

.iconcontainer{
    background-color: white;
    border: 1px solid var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    height: 1.5rem;
    transition:box-shadow 0.5s ease;
    width: 2vw;
    animation: rollback 0.5s ease;
}

.iconcontainer:hover{
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.774);
}

.icons{
    margin: 0;
    font-size: 1.1rem;
}

#sun{
    display: none;
    visibility: hidden;
    color: var(--lightmode);
    margin-top: 1rem;
    height: 2rem;
}

.display{
    display: none;
    visibility: hidden;
}

.sun{
    background-color: black;
    border: 1px solid var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    display: block;
    animation: roll 0.5s ease;
    position: relative;
    height: 4.1vh;
    left: 60%;
    padding: 0;
}

@keyframes roll {
    0%{left: 0; right: 100%; height: 3.5vh;}
    100%{right: 0; left: 60%;}
}

.block{
    display: block;
}

.about{
    display: flex;
    justify-content: space-between;
    height: 100dvh;
    align-items: center;
    width: 100dvw;
    padding: 10rem;
}

.logoimg{
    border-radius: 50%;
    transform: scale(1.5);
    box-shadow: 0 0 5px #f71212a4;
    transition: 1s ease;
    height: 30vh;
    width: 15vw;

}

.logoimg:hover{
    box-shadow: 0 0 20px #f71212c4;
    transform: scale(1.6);
}

.aboutmecontent{
    /* width: 40dvw; */
    max-width: 50dvw;
}

.horizontaldivider{
    align-self: center  ;
    width: 95vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.title{
    margin: 0;
    text-align: center;
    width: 100vw;
    padding: 0;
}

.projects{
    height: 100vh;
}

.projectscontainer{
    position: relative;
    height: 70dvh;
    max-width: 100dvw;
    display: flex;
    padding: 0rem 3rem;
    justify-content: center;
    align-items: center;
    position: relative;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.project{
    height: 50vh;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.192);
    border-radius: 20px;
    width: 30vw;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    transition: 0.5s ease;
    align-items: center;
    cursor: pointer;
    max-width: 40dvw;
}

.project:hover{
    transform: scale(0.99);
}

.projectdetails{
    font-size: 1rem;
    color: rgba(128, 128, 128, 0.705);
}

.technologies{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: nowrap;
    width: 25vw;
}

.projectbutton{
    border-radius: 20px;
    background-color: #ff8f8f52;
    color: crimson;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    border: 0;
    transition: 0.5s ease;
}

.projectbutton:focus{
    transform: scale(1.1);
}

.dis{
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1rem;
}

.view{
    justify-content: right;
    border-radius: 40px;
    padding: 0.5rem;
    border: 0;
    font-size: 1rem;
    transition: 0.7s ease;
    background-color: transparent;
}

.view:hover{
    text-decoration: underline;
    transform: scale(1.1);
}

.skills{
    height: 70vh;
    display: flex;
    padding: 0rem 2rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
}

.skillscontainer{
    display: flex;
    width: 90dvw;
    justify-content: space-evenly;
}

.skillicon{
    font-size: 7rem;
    transition: 0.5s ease;
    cursor: pointer;
    border: 1px solid;
    padding: 1rem;
    border-radius: 20px;

}

.skillicon:hover{
    transform: scale(1.1);
    text-shadow: 0 0 10px var(--crimson);
}

.experience{
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.formdiv{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    border: 1px solid;
    border-radius: 20px;
    box-sizing: 0 2px 8px rgb(0, 0, 0);
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-image: none;
    backdrop-filter: blur(100px);
}


#submit{
    width: 10vw;
    border-radius: 10px;
    transition: 0.3s ease;
}

#submit:active{
    transform: scale(0.9);
}

input{
    border: 0;
    background: none;
    border-bottom: 2px solid var(--darkmode);
    font-size: 1em;
    width: 40vw;
    padding-left: 0.5rem;
}

.input:focus{
    border: 0;
    outline: 0;
    margin: 0;
    background: transparent;
}

input::placeholder{
    opacity: 0.4;
}

#description{
    border: 1px solid;
    border-radius: 10px;
    height: 20dvh;
    width: 40dvw;
    justify-content: flex-start;
    font-size: 1rem;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: var(--darkmode);
    border-top: 5px solid var(--lightmode);
    padding: 1rem;
    color: var(--lightmode);
    justify-content: center;
    align-items: center;
}

.contactme{
    display: flex;
    width: 40dvw;
    justify-content: space-evenly; 
}

.contactme a{
    font-size: 2rem;
    color: var(--lightmode);
}

small{
    font-size: 0.7rem;
}

@media (max-width: 590px) {
    body{
        font-size: 0.7rem;
    }

    .about{
        flex-direction: column-reverse;
    }

    header{
        justify-content: space-between;
        padding: 1rem;
    }

    h2{
        font-size: 2rem;
        padding: 4rem;
    }

    h3{
        font-size: 1.5rem;
    }
    
    nav{
        display: none;
    }

    .nav-small{
        height: 2rem;
        gap: 0;
        display: flex;
        flex-direction: column;
    }

    .nav-small{
        padding: 0;
        margin: 0;
    }

    .about{
        gap: 1rem;
        padding: 3rem 1rem ;
        height: 80vh;
    }

    .logoimg{
        height: 15vh;
    }

    .projects{
        height: fit-content;
    }

    .projectscontainer{
        flex-direction: column;
        gap: 1rem;
        height: fit-content;
        padding: 2rem;
    }

    .projectdetails{
        font-size: 1rem;
    }

    .project{
        height: fit-content;
        width: 100vw;
    }

    .projectbutton{
        font-size: 0.5rem;
        padding: 0.2rem 0.5rem;
        max-width: 4rem;
        border-radius: 10px;
    }

    .skills{
        height: fit-content;
        padding: 1rem;
        width: 100vw;
    }

    footer i{
        font-size: 0.5rem;
    }

    .skillscontainer{
        justify-content: center;
        width: 100vw;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding: 1rem;  
    }

    textarea{
        width: 60vw;
    }

    .experience{
        padding: 1rem;
    }

    .formdiv{
        width: 100vw;
        padding: 1rem;
        height: 100vh;
        background-image: none;
        backdrop-filter: blur(100px);
    }

    footer{
        width: 100vw;
        padding: 1rem;
    }
}