:root{
    --darkmode : #0d1b2aef;
    --lightmode : #f0f0f0;
    --fontsize: 10pxrem;
    --crimson : crimson;
    --red: #f71212;
}

*,html{
    box-sizing: border-box;
    overflow: none;
    user-select: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    color: var(--darkmode);
    font-size: var(--fontsize);
    overflow: hidden;
    overflow-y: scroll;
    background-color: var(--lightmode);
    transition:  0.5s ease;
    scroll-behavior: smooth;
    justify-content: center;
    font-family: "Young Serif", serif;
}

/*the below are the added classlist*/
.darkmode{
    background-color: var(--darkmode);
    color: var(--lightmode);
    transition: 0.5s ease;
}

.link.lighttext{
    color: white;
}

#top{
    border-radius: 50%;
    padding: 0.2rem;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 20;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    padding: 1rem;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: none;
}

#top i{
    color: var(--darkmode);
    font-size: 3rem;
}

#top.showtop{
    pointer-events: fill;
    opacity: 1;
}

h2{
    font-size: 10rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15dvh;
    width: 100dvw;
    padding: 2rem;
    border-bottom: 0.5px solid var(--crimson);
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(50px);
    user-select: none;
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.295);
}

.logo{
    padding: 5rem;
}

.logoname{
    cursor: pointer;
    transition: color 0.5s ease;
}

h2{
    font-size: 4rem;
}

.logoname:hover{
    color: var(--red);
}

nav{
    display: flex;
    align-items: center;
    width: 40dvw;
    height: 10dvh;
    justify-content: space-around;
    font-size: 1rem;
}

.nav-small{
    display: none;
}

.link{
    color: var(--darkmode);
    text-decoration-line: none;
    transition: 0.5s ease;
}

.link:hover{
    color: var(--red);
}

.link:target{
    color: var(--red);
}

.dividernav{
    align-self: center;
    height: 1.5rem;
    background-color: var(--crimson);
    width: 1px;
}

.togglemode{
    width: 5vw;
    border: 2px solid var(--red);
    border-radius: 50px;
    height: 1.5rem;
    padding: 0;
    margin-right: 1.5rem;
    background-color: var(--lightmode);
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.togglemodedark{
    background-color: var(--darkmode);
}

.iconcontainer{
    background-color: white;
    border: 1px solid var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 1.5rem;
    transition:box-shadow 0.5s ease;
    width: 2vw;
    animation: roll 0.5s ease;
}

@keyframes roll {
    0%{left: 0; right: 100%; height: 3.5vh;}
    100%{right: 0; left: 100%; height: 3.5vh;}
}

.iconcontainer.black{
    background-color: var(--darkmode);
    border: 0;
    visibility: hidden;
    animation: rollback 0.5s ease;
}

@keyframes rollback {
    0%{left: 100%;}
    100%{right: 0%;}
}

.iconcontainer:hover{
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.774);
}

.icons{
    margin: 0;
    font-size: 1.1rem;
}

.socialicon{
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

#sun{
    display: none;
    visibility: hidden;
    color: var(--lightmode);
    height: 2rem;
}

.display{
    display: none;
    visibility: hidden;
}

#sun.sun{
    visibility: visible;
    background-color: black;
    border: 1px solid var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    animation: roll 0.5s ease;
    position: relative;
    height: 3.5vh;
    left: 100%;
    padding: 0;
}

.navsmallcontainer{
    display: none;
}

.block{
    display: block;
}

.about{
    display: flex;
    justify-content: space-between;
    height: 80dvh;
    align-items: center;
    width: 100dvw;
    padding: 4rem;
}

.logoimg{
    border-radius: 50%;
    box-shadow: 0 0 5px #f71212a4;
    transition: 1s ease;
    max-height: 100%;
    width: auto;
}

.logoimgcontain{
    width: 30vw;
    height: 50vh;
}

.logoimg:hover{
    box-shadow: 0 0 20px #f71212c4;
    transform: scale(1.1);
}

.aboutmecontent{
    max-width: 55dvw;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.horizontaldivider{
    align-self: center  ;
    width: 95vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.fadeup{
    animation: fadeup both;
    animation-timeline: view();
    animation-range: entry 5% cover 80%;
}

@keyframes fadeup {
    0%{opacity: 0; transform: translatex(10px) scale(0.8);}
    100%{opacity: 1; transform: translatex(0) scale(1);}
}

.title{
    margin: 0;
    text-align: center;
    width: 100vw;
    padding: 0;
}

.projects{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.projectscontainer{
    position: relative;
    height: 70dvh;
    max-width: 100dvw;
    display: flex;
    padding: 1rem 3rem;
    justify-content: center;
    align-items: center;
    position: relative;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.project{
    display: flex;
    flex-direction: column;
    height: fit-content;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.192);
    border-radius: 20px;
    width: 30vw;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    transition: 0.5s ease;
    align-items: center;
    cursor: pointer;
    max-width: 80dvw;
}

.animate{
    animation: animate both;
    animation-timeline: view();
    animation-range: entry 5% cover 100;
}

@keyframes animate {
    0%{opacity: 0; transform: translateY(100px);}
    100%{opacity: 1; transform: translateY(0);}
}

.project:hover{
    transform: scale(0.99);
}

.projectdetails{
    font-size: 1rem;
    color: rgba(128, 128, 128, 0.705);
}

.technologies{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    gap: 1rem;
}

.projectbutton{
    border-radius: 5px;
    background-color: #ff8f8f52;
    color: crimson;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.1rem 1rem;
    border: 0;
    transition: 0.5s ease;
}

.projectbutton:focus{
    transform: scale(1.1);
}

.dis{
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1rem;
}

.view{
    justify-content: right;
    border-radius: 40px;
    padding: 0.5rem;
    border: 0;
    font-size: 1rem;
    transition: 0.7s ease;
    background-color: transparent;
}

.view:hover{
    text-decoration: underline;
    transform: scale(1.1);
}

.skills{
    height: fit-content;
    display: flex;
    padding: 5rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.skillscontainer{
    display: flex;
    width: 90dvw;
    justify-content: space-evenly;
}

.skillicon{
    font-size: 7rem;
    transition: 0.5s ease;
    cursor: pointer;
    border: 1px solid;
    padding: 1rem;
    border-radius: 20px;
}

.skillicon .skillscontainer {
    transition: scale 1s, filter 1s;
}

.skillscontainer:hover .skill{
    transform: scale(0.95);
    filter: blur(2px);
}

.skillscontainer .skill:hover{
    transform: scale(1);
    filter: blur(0);
}

.experience{
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.formdiv{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(90px);
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.192)
}

form{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}


#submit{
    width: 10vw;
    border-radius: 5px;
    transition: 0.4s ease;
    padding: 0.5rem;
}

#submit:hover{
    transform: scale(0.8);
}

input{
    border: 0;
    background: none;
    border-bottom: 2px solid var(--darkmode);
    font-size: 1em;
    width: 40vw;
    padding-left: 0.5rem;
}

.input:focus{
    border: 0;
    outline: 0;
    margin: 0;
    background: transparent;
}

input::placeholder{
    opacity: 0.4;
}

#description{
    border: 1px solid;
    border-radius: 10px;
    height: 20dvh;
    width: 40dvw;
    justify-content: flex-start;
    font-size: 1rem;
}

textarea{
    padding: 0.5rem;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: var(--darkmode);
    border-top: 5px solid var(--lightmode);
    padding: 1rem;
    color: var(--lightmode);
    justify-content: center;
    align-items: center;
}

.contactme{
    display: flex;
    width: 40dvw;
    justify-content: space-evenly; 
}

.contactme a{
    font-size: 2rem;
    color: var(--lightmode);
}

small{
    font-size: 0.7rem;
}

@media (max-width: 768px) {
    body{
        font-size: 16px;
        overflow-x: hidden;
    }

    header{
        padding: 1rem 0rem;
        height: 10dvh;
        justify-content: space-around;
        gap: 2rem;
    }

    h2{
        font-size: 2rem;
        padding: 4rem;
    }

    h3{
        font-size: 1.5rem;
    }

    .logo{
        align-content: flex-start;
        padding: 0;
    }
    
    nav{
        display: none;
    }

    .nav-small{
        font-size: 2rem;
        gap: 0;
        display: flex;
        flex-direction: column;
        padding: 0.2rem 0.2rem;
        border-radius: 5px;
        background: grey;
        backdrop-filter: blur(50px);
        margin: 0;
        width: 3rem;
        transition: 0.5s ease;
    }

    .nav-small:active{
        transform: scale(0.9);
    }

    .navsmallcontainer{
        position: relative;
        display: block;
    }

    .fa-xmark{
        display: none;
        position: absolute;
        z-index: -4;
    }

    .navsmallcontents{
        display: none;
    }

    .navsmallcontents.show{
        display: flex;
        position: absolute;
        right: 15%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--red);
        padding: 0.7rem;
        border-radius: 5px;
        background-color: var(--darkmode);
        box-shadow: 0 2px 8px rgba(214, 214, 214, 0.192);
        animation: drop 0.5s ease;
        gap: 0.7rem;
        font-size: 1rem;
    }

    @keyframes drop {
        0%{transform: scale(0.5);}
        100%{transform: scale(1);}
    }

    .showdiplay{
        display: block;
    }

    .about{
        flex-direction: column-reverse;
        padding: 1rem;
        height: fit-content;
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }

    .aboutmecontent{
        display: flex;
        /* text-align: center; */
    }

    .logoimg{
        align-items: flex-start;
        aspect-ratio: 1/1;
        padding: 0;
        margin: 0;
        height: fit-content;
    }

    .logoimgcontain{
        align-items: flex-start;
        width: 100vw;
        padding: 1rem;
        justify-content: center;
    }

    .projects{
        height: fit-content;
    }

    .projectscontainer{
        flex-direction: column;
        gap: 1rem;
        height: fit-content;
    }

    .projectdetails{
        font-size: 1rem;
    }

    .project{
        gap: 0;
        height: fit-content;
        width: 100vw;
    }

    .projectbutton{
        font-size: 0.5rem;
        padding: 0.2rem 0.5rem;
        max-width: fit-content;
        border-radius: 10px;
    }

    .skills{
        height: fit-content;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 1rem;
        width: 100vw;
    }

    footer i{
        font-size: 1rem;
        padding: 0.5rem;
    }

    .skillscontainer{
        justify-content: center;
        width: 100vw;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-items: center;
        padding: 0.5rem;  
    }

    textarea{
        width: 70vw;
    }

    .experience{
        padding: 1rem;
        height: fit-content;
        margin-top: 1rem;
    }

    .formdiv{
        width: 100vw;
        padding: 1rem;
        height: fit-content;
        background-image: none;
        backdrop-filter: blur(100px);
    }

    footer{
        width: 100vw;
        padding: 1rem;
    }
}